<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <li class="item"><a href="/admin"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial "></use></svg><span class="text"> Dashboard</span></a></li>
        <li class="item"><a href="/user"><svg class="glyph stroked male user "><use xlink:href="#stroked-male-user"/></svg><span class="text">Quản lý thành viên</span></a></li>
        <li class="item"><a href="/position"><svg class="glyph stroked open folder"><use xlink:href="#stroked-open-folder"/></svg><span class="text">Quản lý chức vụ</span></a></li>
        <li class="item"><a href="/product"><svg class="glyph stroked bag"><use xlink:href="#stroked-bag"></use></svg><span class="text">Quản lý sản phẩm</span></a></li>
        <li class="item"><a href="/recruit"><svg class="glyph stroked two messages"><use xlink:href="#stroked-two-messages"/></svg><span class="text">Danh sách tuyển dụng</span></a></li>
        <li class="item"><a href="/item"><svg class="glyph stroked chain"><use xlink:href="#stroked-chain"/></svg> <span class="text">Danh sách đơn hàng</span></a></li>
        <li class="item"><a href="setting.html"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg> <span class="text">Cấu hình</span></a></li>
    </ul>
</div><!--/.sidebar-->